{% extends 'base.html' %}
{% load static %}
{% block head %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Title{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles/style.css'%}">
</head>
{% endblock %}
{% block right %}
<div class="right_block">
    <div class="title_right_block">
        <h1>Результат поиска "{{query}}"</h1>
    </div>
    <div class="right_wrapper">
        {% for elem in result_list %}
        <div class="card">
            <a href="{{ product.get_absolute_url }}" ><img class="card_image"src="{{ elem.image.url }}" alt=""></a>
            <div class="card_descr">
                <div class="card_title">
                    <a href="{{ product.get_absolute_url }}">{{ elem.title }}</a>
                </div>
                <div class="card_subtitle">
                    <div class="title_category">
                        <h1>Сategory:</h1>
                        <a class="category_value" href="#!" >{{ elem.category }}</a>
                    </div>
                    <div class="title_condition">
                        <h1>Condition:</h1>
                        <a href="#!" class="condition_value" >{{ elem.condition }}</a>
                    </div>
                    <div class="title_location">
                        <h1>Location:</h1>
                        <a href="#!" class="location_value" >{{ elem.location }}</a>
                    </div>
                    <div class="title_date">
                        <h1>Date Posted:</h1>
                        <a href="#!" class="date_value">{{ elem.data_posted }}</a>
                    </div>
                </div>
                <hr>
                <div class="card_footer">
                    <div class="card_price">{{ elem.price }}</div>
                    <a href="{{ product.get_absolute_url }}" class="card_button">
                        <img src="{% static 'img/svg/button_right_block.svg'%}" alt="#!" class="card_icon">
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% if empty %}
    <div class="right_block">
        <div class="title_right_block">
            <h1>{{empty}}</h1>
        </div>
    </div>
    {% endif %}
</div>
<script src="{% static 'js/script.js'%}"></script>
{% endblock %}




